<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="taskApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>singleTasking</title>

    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='/css/bootstrap/bootstrap.css' />
    <!-- Custom styles for this template -->
    <link rel='stylesheet' href='/css/bootstrap/sticky-footer-navbar.css' />
    <link rel='stylesheet' href='/css/xeditable.css' />
</head>

<body>

<!-- Wrap all page content here -->
<div id="wrap">

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
    </div>

    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <h1>single<span class="text-muted">Tasking</span></h1>
            <span class="text-muted"><small>Give your brain some down time. Focus deeply, without distraction.</small></span>
        </div>

        <%-body -%>
    </div>
</div>

<div id="footer">
    <div class="container">
        <p class="text-muted credit">With all the love in the world by <a href="https://twitter.com/mindginative">@mindginative</a>.</p>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/angularjs/angularjs-1.0.8.min.js"></script>
<script src="/js/angularjs/ui-bootstrap-custom-tpls-0.6.0.js"></script>
<script src="/js/angularjs-app/app.js"></script>
<script src="/js/angularjs-app/controllers/MainController.js"></script>
<script src="/js/angularjs-app/factory/TaskFactory.js"></script>
<script src="/js/angularjs/angular-sanitize.min.js"></script>
<script src="/js/xeditable.js"></script>

</body>
</html>
